/* images centrées sans bordures */

img.centered {
    display: block;
    margin: 2em auto;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

img.noborder {
    display: block;
    margin: 2em auto;
    max-width: 90%;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

article h1 .headerlink::before,
article h1::before {
    content: none !important;
    display: none !important;
}

/* Ou cibler plus précisément */
.md-content h1::before {
    content: none !important;
}

/* couleurs de texte */
.text-red {
    color: red;
    font-weight: bold;
}

.text-green {
    color: green;
    font-weight: bold;
}

.text-blue {
    color: blue;
    font-weight: bold;
}

.text-keyword {
    color: #135a79;
    font-weight: bold;
}